@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 20px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      /* border-radius: 100vh; */
      background: #212121;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #121212;
      /* border-radius: 50vh; */
      /* border: 3px solid #303030; */
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #000000;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }