.homepage {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  /* transition: filter 0.4s ease-in-out; */
  transition: margin-left 0.3s ease-in-out; /* Smooth transition for margin-left */
  margin-left: 0; /* Default position when sidebar is closed */
  padding: 20px;
  margin-top: 40px; /* To avoid overlapping the topbar */
  box-sizing: border-box;
}

.main-content {
  /* margin-left: 250px; Accounts for fixed Sidebar */
  padding: 20px;
  width: 100%;
  background-color: #ecf0f1;
  min-height: 100vh;
  color: #2c3e50;
}

.content-wrapper.shifted {
  margin-left: 250px;
}
