.topbar {
  height: 60px;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures space between logo and login */
  padding: 0 20px; /* Adds space on both sides */
  box-sizing: border-box; /* Includes padding in the width */
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  overflow: hidden; /* Prevents overflow */
}
  
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.login-section .login-btn {
  background-color: #3f3f3f;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.login-section .login-btn:hover {
  background-color: #000000;
}
  